﻿<div>
    <button onclick="notify()">Notify</button>
    <br /> <br />
</div>

<script>
    var notificationData = {
        SenderId: 2,
        ReceiversId: [3],
        NotificationType: "Delay",
        Delay: 2,
        Datetime: new Date()
    };
    function notify() {
        $.get("/Notification/Notify", { serverInput: JSON.stringify(notificationData) });
    }
</script>