﻿
<div>
    <h3>Mobile API</h3>
    <button onclick="getTrips()">Get Trips</button>
    <br /> <br />
    <button onclick="getTripDetails()">Get Trip Details</button>
    <br /> <br />
    <button onclick="saveStop()">Save Stop</button>
    <br /> <br />
    <button onclick="deleteStop()">Delete Stop</button>
    <br /> <br />
    <button onclick="monitorLocation()">Monitor Location</button>
    <br /> <br />
    <button onclick="orderStops()">Order Stops</button>
    <br /> <br />
    <button onclick="setAbsent()">Set Absent</button>
    <br /> <br />
    <button onclick="startTrip()">Start Trip</button>
    <br /> <br />
    <button onclick="endTrip()">End Trip</button>
    <br /> <br /> <br /> <br />


    <h3>Manager API</h3>
    <button onclick="saveTrip()">Save Trip</button>
    <br /> <br />
    <button onclick="saveTripDestination()">Save Trip Destination</button>
</div>

<script>
    var token = Cookies.get("Token");

    var tripUser = {
        UserId: 2,
        Token: token
    };
    function getTrips() {
        $.get("/Trip/GetTrips", { serverInput: JSON.stringify(tripUser) });
    }

    var tripIdentity = {
        TripId: 1,
        Token: token
    }
    function getTripDetails() {
        $.get("/Trip/GetTripDetails", { serverInput: JSON.stringify(tripIdentity) });
    }

    var stopData = {
        TripId: 4,
        StopId: 30,
        //Latitude: 37.0628856,
        //Longitude: 37.3770093,
        PassengersId: [6],
        Token: token
    }
    function saveStop() {
        $.get("/Trip/SaveStop", { serverInput: JSON.stringify(stopData) });
    }

    var deleteData = {
        TripId: 4,
        StopId: 32
    }
    function deleteStop() {
        $.get("/Trip/DeleteStop", { serverInput: JSON.stringify(deleteData) });
    }

    var locationData = {
        TripId: 1,
        Latitude: 37.035974,
        Longitude: 37.318598,
        Timespan: 1521640626,
        PassengersId: [3],
        Token: token
    }
    function monitorLocation() {
        $.get("/Monitor/MonitorLocation", { serverInput: JSON.stringify(locationData) });
    }

    var tripData = {
        TripId: 0,
        DriversId: [2],
        PassengersId: [3],
        Type: "Collect",
        StartTime: new Date(0, 0, 0, 9, 0, 0, 0),
        EndTime: new Date(0, 0, 0, 10, 30, 0, 0),
        Destination: "AnadoluLisesi",
        Token: token
    }
    function saveTrip() {
        $.get("/Trip/SaveTrip", { serverInput: JSON.stringify(tripData) });
    }

    var orderData = {
        TripId: 1,
        StopsOrder: {
            49: 2,
            37: 3,
            46: 1,
            42: 0,
            43: 4
        },
        Token: token
    }
    function orderStops() {
        $.get("/Trip/OrderStops", { serverInput: JSON.stringify(orderData) });
    }

    var destinationData = {
        TripId: 4,
        Latitude: 37.0456711,
        Longitude: 37.7836828,
        Timespan: 1521780626,
        Token: token
    }
    function saveTripDestination() {
        $.get("/Trip/SaveTripDestination", { serverInput: JSON.stringify(destinationData) });
    }

    var absenceData = {
        TripId: 1,
        PassengerId: 3,
        Token: token
    }
    function setAbsent() {
        $.get("/Trip/SetAbsent", { serverInput: JSON.stringify(absenceData) });
    }

    var startdata = {
        TripId: 1,
        Timestamp: Math.floor(Date.now() / 1000),
        Token: token
    }
    function startTrip() {
        $.get("/Trip/StartTrip", { serverInput: JSON.stringify(startdata) });
    }

    var endData = {
        TripId: 1,
        Timestamp: Math.floor(Date.now() / 1000),
        Token: token
    }
    function endTrip() {
        $.get("/Trip/EndTrip", { serverInput: JSON.stringify(endData) });
    }
</script>