﻿<div id="trip-details-page" ng-controller="TripDetailsCtrl" ng-init="init()">

    <div id="trip-name" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <a class="btn btn-default" href="~/Trip">
                    <i class="glyphicon glyphicon-arrow-left"></i> <br /> Geri Dön​
                </a>
                <span class="caption-subject bold uppercase">Trip - {{PassData.Trip.TripName}}</span>
            </div>
        </div>
    </div>

    <div id="trip-overview" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-info-sign"></i> <span class="caption-subject bold uppercase">Seyahat genel bakış</span>
            </div>
        </div>
        <div class="portlet-body">
            <form name="TripForm" class="form-horizontal">
                <fieldset>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Türü:</label>
                                    <div class="col-md-9">
                                        <label for="collecting" class="col-sm-3">Gidiş </label> <input type="radio" id="collecting" class="form-control col-sm-3" name="Type" value="Collect" ng-model="Trip.Type" required />
                                        <label for="dropping" class="col-sm-3">Dönüş </label> <input type="radio" id="dropping" class="form-control col-sm-3" name="Type" value="Drop" ng-model="Trip.Type" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Varış yeri:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="DestinationName" ng-model="Trip.DestinationName" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Başlangıç zamanı:</label>
                                    <div class="col-md-9">
                                        <input type="time" class="form-control" name="StartTime" ng-model="Trip.StartTime" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Bitiş vakti:</label>
                                    <div class="col-md-9">
                                        <input type="time" class="form-control" name="EndTime" ng-model="Trip.EndTime" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Şoför(ler):</label>
                                    <div class="col-md-9">
                                        <input type="button" class="btn btn-default custom-default-btn" value="Select Driver(s)" ng-click="GetAllDrivers()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Yolcular:</label>
                                    <div class="col-md-9">
                                        <input type="button" class="btn btn-default custom-default-btn" value="Yolculara Seç" ng-click="GetAllPassengers()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 modal-footer form-actions">
                        <div class="right">
                            <input type="button" class="btn btn-default" value="İptal" ng-click="ok()">
                            <input type="submit" class="btn blue-chambray" value="Kaydet" ng-click="SaveTrip(TripForm.$valid)">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="trip-stops" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-pushpin"></i> <span class="caption-subject bold uppercase">Duraklar</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="mt-element-step">
                <div class="row step-line">
                    <div class="col-md-2 mt-step-col" ng-class="$index == 0 ? 'first done' : $index == Trip.Stops.length-1 ? 'last error' : 'active' " ng-repeat="stop in Trip.Stops">
                        <div class="mt-step-number bg-white stop-node">{{$index + 1}}</div>
                        <div class="mt-step-title font-grey-cascade" ng-repeat="passenger in stop.Passengers">{{passenger.Name + ' ' + passenger.Surname}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="trip-map" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-map-marker"></i> <span class="caption-subject bold uppercase">Seyahat haritası</span>
            </div>
            <div class="tools">
                <span class="caption-subject bold font-dark">Trip: {{Trip.TripName}}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="trip-path-map"></div>
        </div>
    </div>

    <div id="all-stops" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-list"></i> <span class="caption-subject bold uppercase">Tüm Duraklar</span>
            </div>
            <div class="actions">
                <input type="search" class="form-control" placeholder="search..." />
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            Yolcu
                        </th>
                        <th class="text-center">
                            Tarih Atanan
                        </th>
                        <th class="text-center">
                            Duraka bak
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="passenger in Passengers">
                        <td class="text-center">
                            {{passenger.Name}}
                        </td>
                        <td class="text-center">
                            {{passenger.DateAssigned}}
                        </td>
                        <td class="text-center">
                            <a ng-click="SetStop(passenger.Stop)">Haritada Durak'a Göster</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>