﻿<div id="trip-page" ng-controller="TripCtrl" ng-init="init()">

    <div id="all-trips" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-tasks"></i> <span class="caption-subject uppercase bold">Tüm Seyahatler</span>
            </div>
            <div class="actions">
                <input type="search" class="form-control" ng-model="query" placeholder="search..." />
                <button type="button" class="btn btn-default" ng-click="OpenForm()">
                    <i class="fa fa-plus"></i> Seyahat Ekle
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            Ad Soyad
                        </th>
                        <th class="text-center">
                            Yolcuların sayısı
                        </th>
                        <th class="text-center">
                            Başlangıç zamanı​
                        </th>
                        <th class="text-center">
                            Bitiş vakti
                        </th>
                        <th class="text-center">
                            Ayarlar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="trip in Trips | filter: { TripName: query }">
                        <td class="text-center">
                            {{trip.TripName}}
                        </td>
                        <td class="text-center">
                            {{trip.PassengerCount}}
                        </td>
                        <td class="text-center">
                            {{trip.StartTime}}
                        </td>
                        <td class="text-center">
                            {{trip.EndTime}}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-default" ng-click="GoToTripDetails(trip)" title="Details">
                                <i class="glyphicon glyphicon-resize-full"></i> <span class="hidden">Details</span>
                            </a>
                            <a class="btn btn-default" ng-click="GetTripPath(trip)" href="#aaa" title="Show Path on Map">
                                <i class="glyphicon glyphicon-road"></i> <span class="hidden">Show Path</span>
                            </a>
                            <a class="btn btn-default" ng-click="DeleteConfirmation(trip.TripId)" title="Delete Trip">
                                <i class="glyphicon glyphicon-trash"></i> <span class="hidden">Delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr id="aaa"></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="trip-paths" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-road"></i> <span class="caption-subject uppercase bold">Seyahat Yolu</span>
            </div>
            <div class="tools">
                <span class="caption-subject font-weight-600">Seyahat: {{TripPath.TripName}}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="trip-path-map"></div>
        </div>
    </div>
</div>