﻿
<div class="custom-form" ng-init="init()">
    <div class="modal-header">
        <button id="close-form" class="btn btn-primary red" ng-click="cancel()"><i class="fa fa-close"></i>Close</button>
        <h1>Trip Form</h1>
    </div>
    <div class="modal-body portlet-body form">
        <form name="TripForm" class="form-horizontal">
            <fieldset>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Türü:</label>
                                <div class="col-md-9">
                                    <label for="collecting" class="col-sm-3">Gidiş </label> <input type="radio" id="collecting" class="form-control col-sm-3" name="Type" value="Collect" ng-model="NewData.Type" required />
                                    <label for="dropping" class="col-sm-3">Dönüş </label> <input type="radio" id="dropping" class="form-control col-sm-3" name="Type" value="Drop" ng-model="NewData.Type" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Şoför:</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="NewData.DriverId" ng-options="driver.DriverId as driver.Name for driver in DataList1" required></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Varış yeri:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Destination" ng-model="NewData.Destination.DestinationName" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Başlangıç zamanı:</label>
                                <div class="col-md-9">
                                    <input type="time" class="form-control" name="StartTime" ng-model="NewData.StartTime" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Bitiş vakti:</label>
                                <div class="col-md-9">
                                    <input type="time" class="form-control" name="EndTime" ng-model="NewData.EndTime" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Yolcular:</label>
                                <div class="col-md-9">
                                    <input type="button" class="btn btn-default custom-default-btn" value="Yolculara Seç" ng-click="GetAllOptions()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 modal-footer form-actions">
                    <div class="right">
                        <input type="button" class="btn default" value="İptal" ng-click="ok()">
                        <input type="submit" class="btn blue-chambray" value="Kaydet" ng-click="Save(TripForm.$valid)">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
