﻿<div id="monitor-page" ng-controller="MonitorCtrl" ng-init="init()">
    
    <div id="monitor-trips" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-play-circle"></i> <span class="caption-subject font-weight-600 uppercase ">Şimdiki seyahatler</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="map"></div>
            <div id="tripLists" class="list-group">
                <button type="button" class="list-group-item list-group-item-action" ng-repeat="trip in Trips" data-toggle="collapse" data-target="#trip{{$index}}" data-parent="#tripLists">
                    <i class="fa fa-bus"></i> <b>{{trip.TripName}}</b>
                    <div id="trip{{$index}}" class="collapse" data-TripId="{{trip.TripId}}">
                        <span>
                            Başlangıç zamanı​: {{trip.StartTime*1000 | date : 'HH:mm'}}
                        </span> <br />
                        <!--<span>Actual Start Time: {{trip.ActualStartTime | date : 'HH:mm'}}</span> <br />
                        <span>No. of Passengers in bus: {{trip.CurrentPassengerCount}} of {{trip.PassengerCount}}</span>-->
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div id="drivers-today" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-calendar "></i> <span class="caption-subject font-weight-600 uppercase">Şoförler Bugün</span>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            Ad Soyad
                        </th>
                        <th class="text-center">
                            Telefon numarası
                        </th>
                        <th class="text-center">
                            Yapılan seyahatler
                        </th>
                        <th class="text-center">
                            Durum
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="driver in DriversToday">
                        <td class="text-center">
                            {{driver.Name}}
                        </td>
                        <td class="text-center">
                            {{driver.PhoneNo}}
                        </td>
                        <td class="text-center">
                            {{driver.TripsPerformed}}
                        </td>
                        <td class="text-center">
                            {{driver.Status}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="users-notification" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-bell "></i> <span class="caption-subject font-weight-600 uppercase ">Kullanıcının Bildirimi</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1" ng-repeat="notification in Notifications">
                    <!-- BEGIN: Comments -->
                    <div class="mt-comments">
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="../../metronics/pages/media/users/avatar1.jpg">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">{{notification.Sender.Name}}</span>
                                    <span class="mt-comment-date">26 Feb, 10:30AM</span>
                                </div>
                                <div class="mt-comment-text"> {{notification.Message}} </div>
                                <div class="mt-comment-details">
                                    <div class="mt-comment-actions" ng-repeat="receiver in notification.Receivers">
                                        <span>{{receiver.Name}}</span> <br />
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- END: Comments -->
                </div>
            </div>
        </div>
    </div>
</div>