﻿@model TransportApp.Models.Coordinate

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #map {
            height: 500px;
        }
    </style>
</head>
<body>
    <div id="myDiv"></div>
    <div id="map"></div>

    <script>
        document.getElementById("myDiv").innerHTML = "Data has been saved: " + JSON.parse(@ViewBag.success);

        console.log(@Model.Lat);

        function initMap() {
            var myLatLng = { lat: @Model.Lat, lng: @Model.Lng };

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 17,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Requested Location'
            });
        }
    </script>
    <script async defer src="~/Scripts/google-maps-api.js"></script>
</body>
</html>
