﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <button onclick="send()">Send data</button>

    <script>
        var data = {
            TripId: 1,
            StopId: 0,
            PassengersId: ["025ba6c36703-4976-8a91-a66f4096f8d9"],
            DriverId: "025ba6c3-6703-4976-8a98-a66f4096f8d9",
            Latitude: 10.5232764,
            Longitude: 7.4097241,
            TimeStamp: new Date()
        };

        function send() {
            $.get("/Trip/SaveStop", { serverInput: JSON.stringify(data) });
        }
    </script>
</body>
</html>
