﻿
/* Rounded Corner Styles START */
.portlet, .portlet-title, .modal-content {
    border-radius: 7px !important;
}

.portlet-body, .modal-footer {
    border-radius: 0 0 7px 7px !important;
}

.bottom-round {
    border-radius: 7px 7px 0 0 !important;
}

.form-control, .btn {
    border-radius: 5px !important;
}
/* Rounded Corner Styles END */

/* General Styles START */
.add-element {
    background: #32CD32;
    color: #ffffff;
    border: none;
}

.center {
    display: block;
    margin: auto;
    padding: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.custom-default-btn {
    color: #ffffff;
    background: #d26d1a;
    border-color: #d26d1a;
}

.custom-default-btn:hover {
    color: #ffffff;
    background: #d26d1a;
    border-color: #d26d1a;
}
/* General Styles END */

/* Form Validation Styles START */
select.ng-valid.ng-dirty {
    border: 2px solid limegreen;
}

select.ng-valid.ng-touched {
    border: 2px solid limegreen;
}

select.ng-invalid.ng-dirty {
    border: 2px solid orangered;
}

select.ng-invalid.ng-touched {
    border: 2px solid orangered;
}

input.ng-valid.ng-dirty {
    border: 2px solid limegreen;
}

input.ng-valid.ng-touched {
    border: 2px solid limegreen;
}

input.ng-invalid.ng-dirty {
    border: 2px solid orangered;
}

input.ng-invalid.ng-touched {
    border: 2px solid orangered;
}

textarea.ng-valid.ng-dirty {
    border: 2px solid limegreen;
}

textarea.ng-valid.ng-touched {
    border: 2px solid limegreen;
}

textarea.ng-invalid.ng-dirty {
    border: 2px solid orangered;
}

textarea.ng-invalid.ng-touched {
    border: 2px solid orangered;
}

.login-error-msg {
    color: orangered;
    font-weight: 600;
}
/* Form Validation Styles END */

/* Metronic Layout Styles START */
.page-header.navbar, .page-top {
    background: #4f331b;
    border-color: #4f331b;
    border-radius: 0px;
}

.page-header.navbar .page-logo {
    width: 50%;
}

.page-header.navbar .page-logo .site-title {
    color: #ffffff;
}

.page-header.navbar .page-logo img.logo-default {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.page-header.navbar .search-form {
    background: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user:hover, .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover {
    background: none;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username {
    color: #ffffff;
}

.page-header.navbar .search-form .input-group, .page-header.navbar .search-form .input-group:hover, .page-header.navbar .search-form .input-group:active {
    border: 1px solid #ffffff;
}

.page-header.navbar .search-form .input-group .form-control, .page-header.navbar .search-form .input-group .input-group-btn .btn.submit>i {
    color: #ffffff;
}

.page-sidebar .page-sidebar-menu > li > a > i[class*=icon-], .page-sidebar .page-sidebar-menu > li > a > i[class^=icon-] {
    color: #d26d1a;
}

.page-sidebar .page-sidebar-menu > li > a > .title {
    color: #4f331b;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle, .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
    background-color: #4f331b;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover, .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:hover {
    background-color: #d26d1a;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a, .page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a>i {
    color: #ffffff;
}
/* Metronic Layout Styles END */

/* Portlet Styles START */
.portlet .portlet-title .actions * {
    display: inline;
    width: auto;
}

.portlet.light > .portlet-title > .caption > i.glyphicon, .portlet.light > .portlet-title > .caption > span.caption-subject {
    color: #d26d1a;
}

.portlet.light > .portlet-title > .actions .btn-default {
    color: #ffffff;
    background: #d26d1a;
    border-color: #d26d1a;
}

.portlet.light .portlet-body table tbody td .btn i.glyphicon {
    color: #d26d1a;
}

.portlet.light .portlet-body table tbody td .btn span {
    color: #4f331b;
}
/* Portlet Styles END */

/* Forms Styles START */
.modal-dialog {
    margin-top: 95px;
}

.modal-header {
    position: relative;
}

#close-form {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 0 5px !important;
}

.form-group input[type=radio] {
    height: 20px;
    width: 20px;
    bottom: 0;
}

.portlet-body form .form-body > .row > div {
    margin-top: 11px
}
/* Forms Styles END */

/* Alert Styles START */
#alert-no-data {
    font-weight: 500;
}
/* Alert Styles END */

/* ALL Details Page Styles START*/
.portlet-title {
    margin-bottom: 0px;
    border-bottom-width: 0px;
}
/* ALL Details Page Styles END*/

/* Login Page Styles START */
#login-page {
    background: #ffffff;
}

#login-page #login-section {
    width: 40%;
}

#login-page #logo-section img {
    display: block;
    width: 200px;
    height: 200px;
}

#login-page #login-section > h2 {
    text-align: center;
}

#login-page #login-section .form-group {
    margin-top: 15px;
}

#login-page #login-section .form-group label {
    font-size: 17px;
    padding-top: 5px;
    margin-right: 10px;
}

#login-page #login-section hr {
    width: 93%;
    border-top: 1px solid #d26d1a;
}

#login-page #login-section .modal-footer {
    border: 0;
    padding-right: 35px;
}

#login-page #login-section input[type=submit] {
    background: #d26d1a;
    border-color: #d26d1a;
}
/* Login Page Styles END */

/* Monitor Page Styles START */
#monitor-page #map {
    height: 500px;
}

#monitor-page #monitor-trips .list-group {
    margin-top: 5px;
}

#monitor-page #monitor-trips .collapse, #monitor-page #monitor-trips .collapsing {
    margin-left: 20px;
    margin-top: 5px;
    border-top: solid 2px #eaeaea;
    width: 90%;
}
/* Monitor Page Styles END*/

/* Trip Page Styles START*/
#trip-page #trip-path-map {
    height: 500px;
}
/* Trip Page Styles END*/

/* TripDetails Page Styles START*/
#trip-details-page .stop-node {
    font-size: 16px;
    margin: auto auto 18px;
    padding: 2px;
    border-width: 2px;
    height: 30px;
    width: 30px;
}

#trip-details-page #trip-path-map {
    height: 500px;
}
/* TripDetails Page Styles END*/


/* PassengerDetails Page Styles START*/
#passenger-details-page #map {
    height: 400px;
}
/* PassengerDetails Page Styles END*/