﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="TransportApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Ulaştırma Hizmetleri Platformu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Ulaştırma Hizmetleri Platformu" name="description" />
    <meta content="Abubakar Ahmad Abdullahi" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link async href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/metronics/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/metronics/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/metronics/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/metronics/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <!-- BEGIN 3rd Party Plugin STYLES -->
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <!-- END 3rd Party Plugin STYLES -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/icons/favicon.ico" />

    <!--[if lt IE 9]>
    <script src="~/metronics/global/plugins/respond.min.js"></script>
    <script src="~/metronics/global/plugins/excanvas.min.js"></script>
    <script src="~/metronics/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/metronics/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/metronics/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/metronics/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/metronics/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/metronics/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/metronics/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN Mandatory Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKhUASC6YaBwohD87lcahMk4oE23I-iJ8&callback=initMap"></script>
    <script src="~/Scripts/References/bootstrap-select.min.js"></script>
    <!-- END Mandatory Scripts -->
</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-sidebar-closed-hide-logo page-md">
    <!--'page-header-fixed' removed-->
    <!-- BEGIN HEADER -->
    <div class="page-header navbar" ng-controller="UserCtrl">
        <!--'navbar-fixed-top' removed-->
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo col-md-6">
                <a href="/Monitor">
                    <img src="~/icons/logo.png" alt="logo" class="logo-default" />
                </a>
                <h3 class="site-title uppercase font-weight-500">
                    Ulaştırma Hizmetleri Platformu
                </h3>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <!--form class="search-form" action="page_general_search_2.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form> -->
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide"> </li>
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile"> @ViewBag.Name </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img alt="" class="img-circle" src="~/metronics/layouts/layout4/img/avatar9.jpg" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <!--<li>
                                    <a href="~/User/Account">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li class="divider"> </li> -->
                                <li>
                                    <a ng-click="Logout()">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="nav-item start ">
                        <a href="~/Monitor" class="nav-link nav-toggle">
                            <i class="icon-speedometer"></i>
                            <span class="title">
                                İzlemek
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Trip" class="nav-link nav-toggle">
                            <i class="icon-pointer"></i>
                            <span class="title">
                                Seyahatlar
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Driver" class="nav-link nav-toggle">
                            <i class="icon-wallet"></i>
                            <span class="title">
                                Şoförler
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Passenger" class="nav-link nav-toggle">
                            <i class="icon-users"></i>
                            <span class="title">
                                Yolcular
                            </span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="~/Settings" class="nav-link nav-toggle">
                            <i class="icon-settings"></i>
                            <span class="title">Settings</span>
                        </a>
                    </li> -->
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            &copy; @DateTime.Now.Year
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN Non-metronic 3rd Party Scripts -->
    <script src="~/Scripts/References/OneSignalSDK.js" async=""></script>
    @*<script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function () {
                OneSignal.init({
                    appId: "670789a8-9740-46e1-8f3f-1819300d48eb",
                });
            });
        </script>*@
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/References/angular.min.js"></script>
    <script src="~/Scripts/References/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/References/toastr.min.js"></script>
    <!-- END Non-metronic 3rd Party Scripts -->
    <!-- BEGIN Custom Scripts -->
    <script>var TransportApp = angular.module('TransportApp', ['ui.bootstrap']);</script>
    <script src="~/Scripts/Custom/Shared/Services.js"></script>
    <script src="~/Scripts/Custom/Shared/Delete.js"></script>
    <script src="~/Scripts/Custom/Shared/Notification.js"></script>
    <script src="~/Scripts/Custom/Shared/Form.js"></script>
    <script src="~/Scripts/Custom/Shared/Options.js"></script>
    <script src="~/Scripts/Custom/User/User.js"></script>
    <script src="~/Scripts/Custom/Monitor/Monitor.js"></script>
    <script src="~/Scripts/Custom/Trip/Trip.js"></script>
    <script src="~/Scripts/Custom/Trip/TripDetails.js"></script>
    <script src="~/Scripts/Custom/Driver/Driver.js"></script>
    <script src="~/Scripts/Custom/Driver/DriverDetails.js"></script>
    <script src="~/Scripts/Custom/Passenger/Passenger.js"></script>
    <script src="~/Scripts/Custom/Passenger/PassengerDetails.js"></script>
    <!-- END Custom Scripts -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>