﻿
<div class="modal-body">
    <br />
    <h3>Are you sure you want to delete?</h3>
</div>
<div class="modal-footer">
    <div class="form-actions right">
        <input type="button" class="btn default" value="NO" ng-click="cancel()" autofocus>
        <input type="submit" class="btn blue-chambray" value="YES" ng-click="deleteItem()">
    </div>
</div>
