﻿
<div class="modal-body" ng-init="init()">
    <h3>{{note}}</h3>
</div>
<div class="modal-footer">
    <div class="form-actions right">
        <input type="submit" class="btn blue-chambray" value="OK" ng-click="ok()" autofocus>
    </div>
</div>
