﻿
<div ng-init="init()">
    <div class="modal-header">
        <button id="close-form" class="btn btn-primary red" ng-click="cancel()"><i class="fa fa-close"></i>Close</button>
        <!-- <button class="btn btn-md blue-chambray" ng-click="ok()">Generate New Option</button> -->
        <h3 class="margin-bottom-5 margin-top-10 font-weight-500">Select from the options below:</h3>
    </div>
    <div class="modal-body portlet-body">
        <input type="search" class="form-control" ng-model="query" placeholder="search..." /> <br />
        <table class="table table-bordered table-striped">
            <tbody>
                <tr ng-repeat="option in AllOptions | filter: { Label: query }">
                    <td>{{option.Label}}</td>
                    <td>
                        <!-- <button class="btn btn-sm blue-chambray" ng-click="ok(option)">Select</button> -->
                        <input type="checkbox" name="selectedOptions" value="option.Name" ng-checked="GetIndexOf(option) > -1" ng-click="ToggleSelection(option)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="form-actions right">
            <input type="button" class="btn default" value="Cancel" ng-click="cancel()">
            <input type="submit" class="btn blue-chambray" value="Save" ng-click="ok()">
        </div>
    </div>
</div>
