﻿<div id="passenger-details-page" ng-controller="PassengerDetailsCtrl" ng-init="init()">

    <div id="passenger-name" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <a class="btn btn-default" href="~/Passenger">
                    <i class="glyphicon glyphicon-arrow-left"></i> <br /> Geri Dön
                </a>
                <span class="caption-subject bold uppercase">Yolcu - {{Passenger.Name + ' ' + Passenger.Surname}}</span>
            </div>
        </div>
    </div>

    <div id="passenger-overview" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase">Yolcu Bilgileri</span>
            </div>
        </div>
        <div class="portlet-body">
            <form name="PassengerForm" class="form-horizontal">
                <fieldset>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Ad:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Name" ng-model="Passenger.Name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Soyad:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Surname" ng-model="Passenger.Surname" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Email:</label>
                                    <div class="col-md-9">
                                        <input type="email" class="form-control" name="Email" ng-model="Passenger.Email" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Telefon Numara:</label>
                                    <div class="col-md-9">
                                        <input type="tel" class="form-control" name="PhoneNo" ng-model="Passenger.PhoneNo" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Beacon Id:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="BeaconId" ng-model="Passenger.BeaconId" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Cinsiyet:</label>
                                    <div class="col-md-9">
                                        <label for="male" class="col-sm-3">Bay</label> <input type="radio" id="male" class="form-control col-sm-3" name="Type" value="True" ng-model="Passenger.Gender"  />
                                        <label for="female" class="col-sm-3">Bayan </label> <input type="radio" id="female" class="form-control col-sm-3" name="Type" value="False" ng-model="Passenger.Gender"  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Seyahat(ler):</label>
                                    <div class="col-md-9">
                                        <input type="button" class="btn btn-default custom-default-btn" value="Select Trip(s)" ng-click="GetAllTrips()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 modal-footer form-actions">
                        <div class="right">
                            <input type="button" class="btn default" value="İptal" ng-click="ok()">
                            <input type="submit" class="btn blue-chambray" value="Kaydet" ng-click="SavePassenger(PassengerForm.$valid)">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="passenger-trips" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase">Yolcu Seyahatleri</span>
            </div>
            <div class="actions">
                <!--<button type="button" class="btn btn-default" ng-click="GetAllTrips()">
                    <i class="fa fa-plus"></i> Add More Trip(s)
                </button> -->
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            Seyahat Adı
                        </th>
                        <th class="text-center">
                            Katıldığı Seyahat Sayısı
                        </th>
                        <!--<th class="text-center">
                            Ayarlar
                        </th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="trip in Passenger.Trips">
                        <td class="text-center">
                            <a ng-click="GetTripPath(trip.TripId)">{{trip.TripName}}</a>
                        </td>
                        <td class="text-center">
                            {{trip.TripCount + ' of ' + trip.TotalTripCount}}
                        </td>
                        <!--<td class="text-center">
                            Action
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="trip-map" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase">{{TripPath.TripName}} Haritası</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="map"></div>
        </div>
    </div>

    <div id="passenger-notifications" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-bell"></i><span class="caption-subject bold uppercase">Yolcu Bildirimleri</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1" ng-repeat="notification in Notifications">
                    <div class="mt-comments">
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="../../metronics/pages/media/users/avatar1.jpg">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">{{notification.Sender.Name}}</span>
                                    <span class="mt-comment-date">{{notification.Datetime | date}}</span>
                                </div>
                                <div class="mt-comment-text"> {{notification.Message}} </div>
                                <div class="mt-comment-details">
                                    <div class="mt-comment-actions" ng-repeat="receiver in notification.Receivers">
                                        <span>{{receiver.Name}}</span> <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>