﻿
<div id="passengers-page" ng-controller="PassengerCtrl" ng-init="init()">

    <div id="all-passengers" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users"></i><span class="caption-subject bold uppercase">Tüm Yolcular</span>
            </div>
            <div class="actions">
                <input type="search" class="form-control" ng-model="query" placeholder="search..." />
                <button type="button" class="btn btn-default" ng-click="AddPassenger()">
                    <i class="glyphicon glyphicon-plus"></i> Yolcu Ekle
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            Ad Soyad
                        </th>
                        <th class="text-center">
                            Telefon Numara
                        </th>
                        <th class="text-center">
                            Seyahatler
                        </th>
                        <th class="text-center">
                            Ayarlar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="passenger in Passengers | filter: { Name: query }">
                        <td class="text-center">
                            {{passenger.Name}}
                        </td>
                        <td class="text-center">
                            {{passenger.PhoneNo}}
                        </td>
                        <td class="text-center">
                            {{passenger.CollectCount + ' Collecting; ' + passenger.DropCount + ' Dropping'}}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-default" ng-click="PassengerDetails(passenger)" title="ayrıntılar">
                                <i class="glyphicon glyphicon-resize-full"></i>
                            </a>
                            <a class="btn btn-default" ng-click="DeletePassenger(passenger)" title="Yolcu sil">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="passengers-notifications" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-bell"></i><span class="caption-subject bold uppercase">Yolcuların Bildirimleri</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1" ng-repeat="notification in Notifications">
                    <div class="mt-comments">
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="../../metronics/pages/media/users/avatar1.jpg">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">{{notification.Sender.Name}}</span>
                                    <span class="mt-comment-date">{{notification.Datetime | date}}</span>
                                </div>
                                <div class="mt-comment-text"> {{notification.Message}} </div>
                                <div class="mt-comment-details">
                                    <div class="mt-comment-actions" ng-repeat="receiver in notification.Receivers">
                                        <span>{{receiver.Name}}</span> <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>