﻿<div>
    <br /> <br />
    <button onclick="getDrivers()">Get Drivers</button>
    <br /> <br />
    <button onclick="getPassengers()">Get Passengers</button>
    <br /> <br />
    <button onclick="saveUser()">Save User</button>
    <br /> <br />
    <button onclick="saveDeviceId()">Save DeviceId</button>
    <br /> <br />
    <button onclick="deleteUser()">Delete User</button>
    <br /> <br />
    <button onclick="passengerLogin()">Passenger Login</button>
    <br />
    <button onclick="driverLogin()">Driver Login</button>
    <br /> 
    <button onclick="managerLogin()">Manager Login</button>
</div>

<script>
    var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IktoYWxpZEphbWlsMTEiLCJuYW1laWQiOiIxIiwicm9sZSI6Ik1hbmFnZXIiLCJuYmYiOjE1MjY3NDAyMTQsImV4cCI6MTUyNzM0NTAxNCwiaWF0IjoxNTI2NzQwMjE0LCJpc3MiOiJUcmFuc3BvcnRBcHAifQ.VN1yObXR0QlhRmCxHbdUH4uYlbvAwz5xMtKa97A3w7g";

    function getDrivers() {
        $.get("/User/GetDrivers");
    }

    function getPassengers() {
        $.get("/User/GetPassengers");
    }

    var userData = {
        RoleId: 2,
        RoleName: "Driver",
        Name: "Mahmood",
        Surname: "Khaleel",
        Gender: true,
        PhoneNo: "+90555555555",
        Password: "myPassword123",
        Email: "mahmood@yahoo.com"
    };
    function saveUser() {
        $.get("/User/SaveUser", { serverInput: JSON.stringify(userData) });
    }

    var deviceData = {
        UserId: 3,
        DeviceId: "dbc40c96-2c3e-46de-92c2-6e1edf27cb03"
    };
    function saveDeviceId() {
        $.get("/User/SaveDeviceId", { serverInput: JSON.stringify(deviceData) });
    }

    var deleteUserData = {
        UserId: 12,
    };
    function deleteUser() {
        $.get("/User/DeleteUser", { serverInput: JSON.stringify(deleteUserData) });
    }

    var passengerCredentials = {
        Username: "MuhammadUmar33",
        Password: "Secret101"
    };
    function passengerLogin() {
        $.post("/User/Login", { serverInput: JSON.stringify(passengerCredentials) });
    }

    var driverCredentials = {
        Username: "MahmoodKhaleel22",
        Password: "secret"
    };
    function driverLogin() {
        $.post("/User/Login", { serverInput: JSON.stringify(driverCredentials) });
    }

    var managerCredentials = {
        Username: "KhalidJamil11",
        Password: "secret"
    };
    function managerLogin() {
        $.post("/User/Login", { serverInput: JSON.stringify(managerCredentials) });
    }
</script>