﻿@{
    Layout = "";
}

<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="TransportApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic Admin Theme #4 | Blank Page Layout</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #4 for blank page layout" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link async href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/metronics/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/metronics/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/metronics/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronics/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/metronics/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <!-- BEGIN 3rd Party Plugin STYLES -->
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <!-- END 3rd Party Plugin STYLES -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/icons/favicon.ico" />

    <!--[if lt IE 9]>
    <script src="~/metronics/global/plugins/respond.min.js"></script>
    <script src="~/metronics/global/plugins/excanvas.min.js"></script>
    <script src="~/metronics/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/metronics/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/metronics/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/metronics/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/metronics/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/metronics/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/metronics/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/metronics/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
</head>
<!-- END HEAD -->
<body id="login-page" class="" ng-controller="UserCtrl" ng-init="init()">
    <div id="logo-section" class="center">
        <img src="~/icons/logo.png" class="center" />
    </div>

    <div id="login-section" class="center">
        <h2 class="center uppercase">Sign In</h2>

        <form name="LoginForm" class="form-horizontal">
            <fieldset>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Username:</label>
                                <div class="col-md-9">
                                    <input type="hidden" class="hidden" ng-model="RedirectLocation" value="@ViewBag.RedirectLocation" />
                                    <input type="text" class="form-control" name="Username" ng-model="LoginCredentials.Username" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Password:</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="Password" ng-model="LoginCredentials.Password" required />
                                </div>
                            </div>
                            <div class="login-error-msg" ng-show="ShowError">Username or password is not correct.</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-12 modal-footer form-actions">
                    <div class="right">
                        <input type="submit" class="btn blue-chambray" value="Login" ng-click="Login(PassengerForm.$valid)">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- BEGIN Non-metronic 3rd Party Scripts -->
    <script src="~/Scripts/References/angular.min.js"></script>
    <script src="~/Scripts/References/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!-- END Non-metronic 3rd Party Scripts -->
    <!-- BEGIN Custom Scripts -->
    <script> var TransportApp = angular.module('TransportApp', ['ui.bootstrap']);</script>
    <script src="~/Scripts/Custom/Shared/Services.js"></script>
    <script src="~/Scripts/Custom/User/User.js"></script>
    <!-- END Custom Scripts -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>