﻿<div id="driver-details-page" ng-controller="DriverDetailsCtrl" ng-init="init()">

    <div id="driver-name" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <a class="btn btn-default" href="~/Driver">
                    <i class="glyphicon glyphicon-arrow-left"></i> <br /> Geri Dön
                </a>
                <span class="caption-subject bold uppercase">Şoför - {{Driver.Name + ' ' + Driver.Surname}}</span>
            </div>
        </div>
    </div>

    <div id="driver-overview" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-info-sign"></i> <span class="caption-subject bold uppercase">Şoför Bilgisi</span>
            </div>
        </div>
        <div class="portlet-body">
            <form name="DriverForm" class="form-horizontal">
                <fieldset>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Ad:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Name" ng-model="Driver.Name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Soyad:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Surname" ng-model="Driver.Surname" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Email:</label>
                                    <div class="col-md-9">
                                        <input type="email" class="form-control" name="Email" ng-model="Driver.Email" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label long-text">Telefon Numara:</label>
                                    <div class="col-md-9">
                                        <input type="tel" class="form-control" name="PhoneNo" ng-model="Driver.PhoneNo" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Cinsiyet:</label>
                                    <div class="col-md-9">
                                        <label for="male" class="col-sm-3">Male</label> <input type="radio" id="male" class="form-control col-sm-3" name="Gender" value="true" ng-model="Driver.Gender"  />
                                        <label for="female" class="col-sm-3">Female </label> <input type="radio" id="female" class="form-control col-sm-3" name="Gender" value="false" ng-model="Driver.Gender"  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Seyahatler:</label>
                                    <div class="col-md-9">
                                        <input type="button" class="btn btn-default custom-default-btn" value="Seyahatler Seç" ng-click="GetAllTrips()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 modal-footer form-actions">
                        <div class="right">
                            <input type="button" class="btn default" value="İptal" ng-click="ok()">
                            <input type="submit" class="btn blue-chambray" value="Kaydet" ng-click="SaveDriver(DriverForm.$valid)">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="driver-trips" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-tasks"></i> <span class="caption-subject bold uppercase">Şoförun Seyahatleri</span>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            Seyahat adı
                        </th>
                        <th class="text-center">
                            Yolcu Sayısı
                        </th>
                        <th class="text-center">
                            Başlangıç zamanı
                        </th>
                        <th class="text-center">
                            Bitiş vakti
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="trip in Driver.Trips">
                        <td class="text-center">
                            {{trip.TripName}}
                        </td>
                        <td class="text-center">
                            {{trip.PassengerCount}}
                        </td>
                        <td class="text-center">
                            {{trip.StartTime}}
                        </td>
                        <td class="text-center">
                            {{trip.EndTime}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="driver-notifications" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-bell"></i><span class="caption-subject bold uppercase">Şoförun bildirimi</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1" ng-repeat="notification in Notifications">
                    <div class="mt-comments">
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="../../metronics/pages/media/users/avatar1.jpg">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">{{notification.Sender.Name}}</span>
                                    <span class="mt-comment-date">{{notification.Datetime | date}}</span>
                                </div>
                                <div class="mt-comment-text"> {{notification.Message}} </div>
                                <div class="mt-comment-details">
                                    <div class="mt-comment-actions" ng-repeat="receiver in notification.Receivers">
                                        <span>{{receiver.Name}}</span> <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>