﻿
<div class="custom-form" ng-init="init()">
    <div class="modal-header">
        <button id="close-form" class="btn btn-primary red" ng-click="cancel()"><i class="fa fa-close"></i>Close</button>
        <h1>Yeni Şoför Ekle</h1>
    </div>
    <div class="modal-body portlet-body form">
        <form name="DriverForm" class="form-horizontal">
            <fieldset>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Ad:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Name" ng-model="NewData.Name" required />
                                    <input hidden type="number" class="form-control hidden" value="2" name="Role" ng-model="NewData.RoleId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Soyad:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Surname" ng-model="NewData.Surname" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Email:</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" name="Email" ng-model="NewData.Email" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label long-text">Telefon Numara:</label>
                                <div class="col-md-9">
                                    <input type="tel" class="form-control" name="PhoneNo" ng-model="NewData.PhoneNo" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Cinsiyet:</label>
                                <div class="col-md-9">
                                    <label for="male" class="col-sm-3">Bay</label> <input type="radio" id="male" class="form-control col-sm-3" name="Gender" value="True" ng-model="NewData.Gender" required />
                                    <label for="female" class="col-sm-3">Bayan</label> <input type="radio" id="female" class="form-control col-sm-3" name="Gender" value="False" ng-model="NewData.Gender" required />
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-md-2 control-label">Trip(s):</label>
                                <div class="col-md-9">
                                    <input type="button" class="btn btn-default custom-default-btn" value="Select Trips" ng-click="GetAllOptions()" />
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-12 modal-footer form-actions">
                    <div class="right">
                        <input type="button" class="btn default" value="İptal" ng-click="ok()">
                        <input type="submit" class="btn blue-chambray" value="Kaydet" ng-click="Save(DriverForm.$valid)">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
