﻿
<div id="drivers-page" ng-controller="DriverCtrl" ng-init="init()">
    <div id="all-drivers" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-list"></i> <span class="caption-subject bold uppercase">Tüm Şoförler</span>
            </div>
            <div class="actions">
                <input type="search" class="form-control" ng-model="query" placeholder="search..." />
                <button type="button" class="btn btn-default" ng-click="AddDriver()">
                    <i class="glyphicon glyphicon-plus"></i> Şoför Ekle
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            Ad Soyad
                        </th>
                        <th class="text-center">
                            Telefon Numara
                        </th>
                        <th class="text-center">
                            Seyahatler
                        </th>
                        <th class="text-center">
                            Ayarlar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="driver in Drivers | filter: { Name: query }">
                        <td class="text-center">
                            {{driver.Name}}
                        </td>
                        <td class="text-center">
                            {{driver.PhoneNo}}
                        </td>
                        <td class="text-center">
                            {{driver.CollectCount + ' Collecting; ' + driver.DropCount + ' Dropping'}}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-default" ng-click="DriverDetails(driver)" title="Details">
                                <i class="glyphicon glyphicon-resize-full"></i>
                            </a>
                            <a class="btn btn-default" ng-click="DeleteDriver(driver)" title="Delete Driver">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="drivers-notifications" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-bell"></i><span class="caption-subject bold uppercase">Şoförlerin bildirimiler</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1" ng-repeat="notification in Notifications">
                    <div class="mt-comments">
                        <div class="mt-comment">
                            <div class="mt-comment-img">
                                <img src="../../metronics/pages/media/users/avatar1.jpg">
                            </div>
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="mt-comment-author">{{notification.Sender.Name}}</span>
                                    <span class="mt-comment-date">{{notification.Datetime | date}}</span>
                                </div>
                                <div class="mt-comment-text"> {{notification.Message}} </div>
                                <div class="mt-comment-details">
                                    <div class="mt-comment-actions" ng-repeat="receiver in notification.Receivers">
                                        <span>{{receiver.Name}}</span> <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>